<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <display-name>application pfe</display-name>
  	<welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list>
    <servlet>
        <servlet-name>ajoutentreprisevalide</servlet-name>
        <jsp-file>/ajoutentreprisevalide.jsp</jsp-file>      
    </servlet>
    <servlet-mapping>
        <servlet-name>ajoutentreprisevalide</servlet-name>
        <url-pattern>/ajoutentreprisevalide</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rechercheentrepriseresultat</servlet-name>
        <jsp-file>/rechercheentrepriseresultat.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
		<servlet-name>rechercheentrepriseresultat</servlet-name>
		<url-pattern>/rechercheentrepriseresultat</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>ficheentreprise</servlet-name>
        <jsp-file>/ficheentreprise.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>ficheentreprise</servlet-name>
		<url-pattern>/ficheentreprise</url-pattern>
	</servlet-mapping>
	    <servlet>
        <servlet-name>ajouttechnicienvalide</servlet-name>
        <jsp-file>/ajouttechnicienvalide.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
		<servlet-name>ajouttechnicienvalide</servlet-name>
		<url-pattern>/ajouttechnicienvalide</url-pattern>
	</servlet-mapping>
		<servlet>
        <servlet-name>fichebatiment</servlet-name>
        <jsp-file>/fichebatiment.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>fichebatiment</servlet-name>
		<url-pattern>/fichebatiment</url-pattern>
	</servlet-mapping>
		<servlet>
        <servlet-name>intervention</servlet-name>
        <jsp-file>/intervention.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>intervention</servlet-name>
		<url-pattern>/intervention</url-pattern>
	</servlet-mapping>
		<servlet>
        <servlet-name>choixintervention</servlet-name>
        <jsp-file>/choixintervention.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>choixintervention</servlet-name>
		<url-pattern>/choixintervention</url-pattern>
	</servlet-mapping>

		<servlet>
        <servlet-name>installationextincteurvalidee</servlet-name>
        <jsp-file>/installationextincteurvalidee.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>installationextincteurvalidee</servlet-name>
		<url-pattern>/installationextincteurvalidee</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>verificationcompte</servlet-name>
		<jsp-file>/verificationcompte.jsp</jsp-file>
	</servlet>
		<servlet-mapping>
		<servlet-name>verificationcompte</servlet-name>
		<url-pattern>/verificationcompte</url-pattern>
		</servlet-mapping>
</web-app>